In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
from MortgageClass import MortgageCalculator

In [19]:
house_price = 425000
down_payment = 70000
interest_rate = 1.8
loan_term_years = 30
cost = 2000
taxes = 6

In [20]:
mortgage = MortgageCalculator(house_price, down_payment, interest_rate, loan_term_years, cost, taxes)
mortgage.run()
mortgage.get_amortization_schedule()

,Payment Number,Monthly Payment,Total Payment,Regular Amortization,Additional Amortization,Total Amortization,Amortization Type,Interest,Remaining Balance,Accrued Interest,Remaining Months,Remaining Balance (after payment)
0,1,1383.04,1383.04,806.29,0,806.29,0,576.75,383693.71,576.75,359,383693.71
1,2,1383.04,1383.04,807.50,0,807.50,0,575.54,382886.21,1152.29,358,382886.21
2,3,1383.04,1383.04,808.71,0,808.71,0,574.33,382077.50,1726.62,357,382077.50
3,4,1383.04,1383.04,809.92,0,809.92,0,573.12,381267.57,2299.74,356,381267.57
4,5,1383.04,1383.04,811.14,0,811.14,0,571.90,380456.43,2871.64,355,380456.43
...,...,...,...,...,...,...,...,...,...,...,...,...
355,356,1383.04,1383.04,1372.71,0,1372.71,0,10.33,5511.48,113373.97,4,5511.48
356,357,1383.04,1383.04,1374.77,0,1374.77,0,8.27,4136.71,113382.24,3,4136.71
357,358,1383.04,1383.04,1376.84,0,1376.84,0,6.21,2759.87,113388.45,2,2759.87
358,359,1383.04,1383.04,1378.90,0,1378.90,0,4.14,1380.97,113392.59,1,1380.97
359,360,1383.04,1383.04,1380.97,0,1380.97,0,2.07,0.00,113394.66,0,0.00

In [21]:
import pandas as pd
amortization_df = pd.read_csv('amortization_schedule.csv', delimiter=';')
amortization_df.head()

   Month  Amortization  Type
0      1          1500  Term
1      2          1500  Term
2      3          1500  Term
3      4          1500  Term
4      5          1500  Term

In [22]:
mortgage_extra = MortgageCalculator(house_price, down_payment, interest_rate, loan_term_years, cost, taxes, amortization_schedule_df=amortization_df)
mortgage_extra.run()
mortgage_extra.get_amortization_schedule()

,Payment Number,Monthly Payment,Total Payment,Regular Amortization,Additional Amortization,Total Amortization,Amortization Type,Interest,Remaining Balance,Accrued Interest,Remaining Months,Remaining Balance (after payment)
0,1,1383.04,2883.04,806.29,1500,2306.29,1500,576.75,382193.71,576.75,357,382193.71
1,2,1383.04,2883.04,809.75,1500,2309.75,1500,573.29,379883.96,1150.04,354,379883.96
2,3,1383.04,2883.04,813.21,1500,2313.21,1500,569.83,377570.74,1719.87,351,377570.74
3,4,1383.04,2883.04,816.68,1500,2316.68,1500,566.36,375254.06,2286.22,349,375254.06
4,5,1383.04,2883.04,820.16,1500,2320.16,1500,562.88,372933.90,2849.10,346,372933.90
...,...,...,...,...,...,...,...,...,...,...,...,...
256,257,1383.04,1383.04,1372.76,0,1372.76,0,10.28,5478.64,66420.11,4,5478.64
257,258,1383.04,1383.04,1374.82,0,1374.82,0,8.22,4103.82,66428.33,3,4103.82
258,259,1383.04,1383.04,1376.88,0,1376.88,0,6.16,2726.94,66434.48,2,2726.94
259,260,1383.04,1383.04,1378.95,0,1378.95,0,4.09,1347.99,66438.57,1,1347.99
260,261,1383.04,1350.01,1381.02,0,1347.99,0,2.02,0.00,66440.59,0,0.00

In [23]:
mortgage.get_amortization_schedule()

,Payment Number,Monthly Payment,Total Payment,Regular Amortization,Additional Amortization,Total Amortization,Amortization Type,Interest,Remaining Balance,Accrued Interest,Remaining Months,Remaining Balance (after payment)
0,1,1383.04,1383.04,806.29,0,806.29,0,576.75,383693.71,576.75,359,383693.71
1,2,1383.04,1383.04,807.50,0,807.50,0,575.54,382886.21,1152.29,358,382886.21
2,3,1383.04,1383.04,808.71,0,808.71,0,574.33,382077.50,1726.62,357,382077.50
3,4,1383.04,1383.04,809.92,0,809.92,0,573.12,381267.57,2299.74,356,381267.57
4,5,1383.04,1383.04,811.14,0,811.14,0,571.90,380456.43,2871.64,355,380456.43
...,...,...,...,...,...,...,...,...,...,...,...,...
355,356,1383.04,1383.04,1372.71,0,1372.71,0,10.33,5511.48,113373.97,4,5511.48
356,357,1383.04,1383.04,1374.77,0,1374.77,0,8.27,4136.71,113382.24,3,4136.71
357,358,1383.04,1383.04,1376.84,0,1376.84,0,6.21,2759.87,113388.45,2,2759.87
358,359,1383.04,1383.04,1378.90,0,1378.90,0,4.14,1380.97,113392.59,1,1380.97
359,360,1383.04,1383.04,1380.97,0,1380.97,0,2.07,0.00,113394.66,0,0.00

In [24]:
graphical_data = pd.DataFrame(mortgage_extra.get_amortization_schedule()).iloc[0::12]

In [26]:
params = {
    'color_side': "#212121",
    'color_bg': "#616161",
    'color_box': "#e0e0e0",
    'color_line': "#FFFFFF",
    'color_text': "#FFFFFF",
    'color_text_second': "#707070",
    'color_text_third': "#202020",
    'color_bar_price_1': "#D1E3F8",
    'color_bar_price_2': "#7AA9F7",
    'color_bar_price_3': "#2E5CB8",
    'color_bar_interest_1': "#f8d1d1",
    'color_bar_interest_2': "#f89696",
    'color_bar_interest_3': "#fa4f4f",
    'box_width': "400px",
    'box_gap': "32px"
}

In [27]:
import plotly.io as pio
import plotly.graph_objects as go
from plotly.subplots import make_subplots

pio.templates["Streamlit"] = go.layout.Template(
            layout=go.Layout(
                font=dict(size=16, color=params['color_text']),
                title_font=dict(size=22, color=params['color_text']),
                width=800,
                height=500,
                plot_bgcolor=params['color_bg'],
                paper_bgcolor=params['color_bg'],
                legend_title_text='',
                legend=dict(
                    font=dict(size=14, color=params['color_text_third']),
                    title_text='',
                    bgcolor=params['color_box'],
                    bordercolor=params['color_line'],
                    borderwidth=2,
                    xanchor="right",
                    yanchor="top",
                    orientation="v"
                ),
                xaxis=dict(
                    tickfont=dict(size=14),
                    title_font=dict(size=18),
                ),
                yaxis=dict(
                    tickfont=dict(size=14),
                    title_font=dict(size=18),
                    gridcolor=params['color_line'],
                ),
                # colorway=["#4A90E2", "#50E3C2", "#B82E2E"],  # Custom color palette
                colorway=["#4A90E2", "#3ECAAC", "#EC6161"],  # Custom color palette
                # colorway=[color_bar_interest_3, color_bar_price_2, "#50E3C2",],  # Custom color palette
            )
        )

pio.templates.default = "Streamlit"

In [28]:
from GraphicClass import GraphicClass
graphics = GraphicClass(mortgage, mortgage_extra, params)
bars = graphics.monthly_payment_graph()
bars.show()

In [29]:
data = mortgage.get_amortization_schedule().iloc[::12]
data_enhanced = mortgage_extra.get_amortization_schedule().iloc[::12]

In [30]:
fig = make_subplots(rows=1, cols=2, 
                    vertical_spacing=0.05,
                    )

In [32]:
pie_data = {
    'House Price': mortgage.house_price,
    'Taxes': mortgage.taxes,
    'Interest': mortgage.total_interest_paid,
    'Additional Costs': mortgage.cost,
}

fig = go.Figure(data=[go.Pie(labels=list(pie_data.keys()), values=list(pie_data.values()))])
fig.show()

In [36]:
def calculate_apr(loan_amount, annual_nominal_rate, term_months, initial_fees=0.0):
    """
    Calculates the APR (Annual Percentage Rate) of a loan with a fixed amount, initial fees, and periodic payments.
    
    :param loan_amount: The amount you need (for example, to buy a house)
    :param annual_nominal_rate: Annual nominal interest rate (e.g., 0.035 for 3.5%)
    :param term_months: Loan term in months (e.g., 240 for 20 years)
    :param initial_fees: Upfront fees and commissions (default is 0)
    :return: APR as a decimal (multiply by 100 for percentage)
    """
    # Calculate monthly nominal interest rate
    monthly_rate = annual_nominal_rate / 12
    
    # Calculate monthly payment (French amortization system)
    payment = loan_amount * (monthly_rate * (1 + monthly_rate) ** term_months) / ((1 + monthly_rate) ** term_months - 1)
    
    # Initial cash flow: what you actually receive (loan amount minus initial fees)
    initial_cash_flow = loan_amount - initial_fees
    
    # Cash flows: positive initial inflow, then negative monthly payments
    cash_flows = [initial_cash_flow] + [-payment] * term_months
    
    # Calculate monthly IRR and annualize to get APR
    monthly_irr = npf.irr(cash_flows)
    apr = (1 + monthly_irr) ** 12 - 1
    
    return apr

import numpy_financial as npf

# Example usage:
loan_amount = 425000        # €425,000
annual_nominal_rate = 0.018 # 1.8% nominal interest
term_months = 360           # 30 years
initial_fees = 10000         # €3,000 in fees and commissions

apr = calculate_apr(loan_amount, annual_nominal_rate, term_months, initial_fees)
print(f"APR: {apr*100:.2f}%")

APR: 1.99%

In [ ]:
params = {
    "house_price": 425000,
    "down_payment": 70000,
    "interest_rate": 1.8,         # 1.8% as a percentage
    "loan_term_years": 30,
    "cost": 10000,
    "taxes": 6.0               # 6.0% as a percentage
}


mortgage = MortgageCalculator(**params)
apr = mortgage.calculate_apr()
print(f"APR: {apr*100:.2f}%")

APR: 1.81%

: