In [39]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
from MortgageClass import MortgageCalculator

In [49]:
house_price = 425000
down_payment = 70000
interest_rate = 1.8
loan_term_years = 30
cost = 2000
taxes = 6

In [50]:
mortage = MortgageCalculator(house_price, down_payment, interest_rate, loan_term_years, cost, taxes)
mortage.run()
mortage.get_amortization_schedule()

,Payment Number,Payment,Debt,Interest,Remaining Balance,Monthly Payment,Accrued Interest,Remaining Months,Remaining Balance (after payment),Amortization Type
0,1,1383.04,806.29,576.75,383693.71,1383.04,576.75,359,383693.71,0
1,2,1383.04,807.50,575.54,382886.21,1383.04,1152.29,358,382886.21,0
2,3,1383.04,808.71,574.33,382077.50,1383.04,1726.62,357,382077.50,0
3,4,1383.04,809.92,573.12,381267.57,1383.04,2299.74,356,381267.57,0
4,5,1383.04,811.14,571.90,380456.43,1383.04,2871.64,355,380456.43,0
...,...,...,...,...,...,...,...,...,...,...
355,356,1383.04,1372.71,10.33,5511.48,1383.04,113373.97,4,5511.48,0
356,357,1383.04,1374.77,8.27,4136.71,1383.04,113382.24,3,4136.71,0
357,358,1383.04,1376.84,6.21,2759.87,1383.04,113388.45,2,2759.87,0
358,359,1383.04,1378.90,4.14,1380.97,1383.04,113392.59,1,1380.97,0
359,360,1383.04,1380.97,2.07,0.00,1383.04,113394.66,0,0.00,0

In [51]:
mortage_extra = MortgageCalculator(house_price, down_payment, interest_rate, loan_term_years, cost, taxes, amortization_schedule_path='amortization_schedule.csv')
mortage_extra.run()
mortage_extra.get_amortization_schedule()

,Payment Number,Payment,Debt,Interest,Remaining Balance,Monthly Payment,Accrued Interest,Remaining Months,Remaining Balance (after payment),Amortization Type
0,1,1383.04,2306.29,576.75,382193.71,1383.04,576.75,357,382193.71,1500
1,2,1383.04,2309.75,573.29,379883.96,1383.04,1150.04,354,379883.96,1500
2,3,1383.04,2313.21,569.83,377570.74,1383.04,1719.87,351,377570.74,1500
3,4,1383.04,2316.68,566.36,375254.06,1383.04,2286.22,349,375254.06,1500
4,5,1383.04,2320.16,562.88,372933.90,1383.04,2849.10,346,372933.90,1500
...,...,...,...,...,...,...,...,...,...,...
313,314,954.11,946.99,7.12,3802.17,954.11,72286.16,4,3802.17,0
314,315,954.11,948.41,5.70,2853.76,954.11,72291.87,3,2853.76,0
315,316,954.11,949.83,4.28,1903.93,954.11,72296.15,2,1903.93,0
316,317,954.11,951.25,2.86,952.68,954.11,72299.00,1,952.68,0
317,318,954.11,952.68,1.43,0.00,954.11,72300.43,0,0.00,0

In [52]:
mortage_extra.total_interest_paid

72300.43335131767